
.cartilla-item {
    border: 1px solid #ccc;
    margin: 20px;
    ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: grey 0px 0px 10px;
}

.cartilla-item__name {
    font-size: 18px;
    font-family: Nunito;
    font-weight: bold;
    margin-bottom: 0px;
    color: #252525;
    padding-right: 10px;
}

.cartilla-item__summary {
    font-size: 14px;
    font-family: Nunito;
    margin-bottom: 0px;
    padding-right: 10px;
}

.cartilla-item__price {
    font-size: 14px;
    font-family: Nunito;
    font-weight: bold;
    margin-bottom: 10px;
}

.cont_tit_cant {
    display: flex;
    justify-content: space-between;
}

.btnpedir {
    width: 79px;
    margin-right: 11px;
}

.btns {
    width: 105px;
    text-align: right;
    white-space: nowrap;
}

.img-space{
    width: 80px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #dadada;
}
