.conthead{
    padding: 10px 15px;
    height: 50px;
    background: linear-gradient(180deg, #161616, #383838);
    position: sticky;
    top: 0;
    z-index: 10;
}

.conthead img{
    height: 30px;
}

.contbuttons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    position: sticky;
    top: 50px;
    z-index: 9;
    background: white;
    height: 50px;
    border-bottom: 1px solid black;
    
  }


.badge {
    position: relative;
    top: -9px;
    left: -11px;
    border-radius: 50%;
    background-color: #dc3545;
   }

.group{
    position: relative;
    top: -13px;
    left: 30px;
}  

.ancho{
    width: 40vw;
}