<div class="conthead">
  <div class="row">
    <div class="col-2"><img src="../../../assets/logh80.png" alt="logo" class="logo"></div>

    <div class="col-9"></div>
    <div class="col-1">
      <button type="button" class="btn btn-default btn-sm" (click)="logOut()">
        <i-bs name="box-arrow-left" width="25" height="25"></i-bs>
      </button>
    </div>

      <div>
        <button type="button" class="btn btn-default btn-sm" style="color: white;" (click)="logOut()">
          <i-bs name="box-arrow-left" width="25" height="25"></i-bs>
        </button>
      </div>
    </div>
  </div>
