<!-- Falta traer el id del mozo para que se pueda filtrar por mozo -->
<app-headeropti></app-headeropti>
<div class="container">
    <div class="card-body">
        <div class="card-body">
            <ng-container *ngFor="let serv of tableServiceList">
            <a href="javascript:;" *ngIf="serv.userId==currentUser.id">
                <div class="row  align-items-center rowdat my-1" [ngClass]="(serv.serviceStateId == 1 ? 'servact':
                (serv.serviceStateId == 2 ? 'solmozo': 'solcobro'))">
                    <div class="col-3 coliconm bordleftround">
                        <span class="material-symbols-outlined icgde py-2">
                            table_bar
                        </span>
                        {{ getTableName(serv.tableId) }}
                    </div>
                    <div class="col-3 coliconm">
                        <span class="material-symbols-outlined icgde py-2">
                            group_add
                        </span>
                        {{ serv.diners }}
                    </div>
                    <div class="col-6 coliconm2">
                        <span class="material-symbols-outlined icgde py-2">
                            receipt_long
                        </span>
                        <span>{{ getStateName(serv.serviceStateId) }}</span>
                    </div>
                </div>
            </a>
        </ng-container>
        </div>
</div>        