<app-headeropti></app-headeropti>
<div class="container">


        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> B9
                        </div>
                        <div class="cartilla-item__name"> Empanada de Jamón y Queso 
                            <span style="color: var(--bs-list-group-color);"><strong> x 1</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> B9
                        </div>
                        <div class="cartilla-item__name"> Flan
                            <span style="color: var(--bs-list-group-color);"><strong> x 1</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> M1
                        </div>
                        <div class="cartilla-item__name"> Ravioles de Ricota 
                            <span style="color: var(--bs-list-group-color);"><strong> x 1</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> T2
                        </div>
                        <div class="cartilla-item__name"> Ensalada Mixta
                            <span style="color: var(--bs-list-group-color);"><strong> x 2</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> T2
                        </div>
                        <div class="cartilla-item__name"> Coca Cola 500cc
                            <span style="color: var(--bs-list-group-color);"><strong> x 3</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> T2
                        </div>
                        <div class="cartilla-item__name"> Agua sin gas 500cc
                            <span style="color: var(--bs-list-group-color);"><strong> x 2</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">
                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span> C8
                        </div>
                        <div class="cartilla-item__name"> Empanadas de Carne
                            <span style="color: var(--bs-list-group-color);"><strong> x 6</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100"> 
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

