<app-headeropti></app-headeropti>
<div class="container">
    <ng-container *ngFor="let itemserv of pedidoList, let i=index">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <div class="card-title">
                    <div class="cont_tit">

                        <div class="cmesa">
                            <span _ngcontent-ssc-c83="" class="material-symbols-outlined icgde py-2"> table_bar </span>
                            {{ getTableName(itemserv.tableService.tableId) }}
                        </div>
                        <div class="cartilla-item__name"> {{ itemserv.item.title }}
                            <span style="color: var(--bs-list-group-color);"><strong> x {{ itemserv.quantity
                                    }}</strong></span>
                        </div>
                        <div style="display: flex; width:15%">
                            <button class="btn btn-secondary btn-sm w-100" (click)="updateItemState(itemserv, 4, i)">
                                <i-bs name="check" width="25" height="25"></i-bs>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>